---
import { LoginController } from "../../controllers/login.controller.ts";
import ContainerDetalle from "../../components/Detalle.tsx";
import { userType } from "../../../constants/userType.ts";
import AccessExpired from '../accessExpired.astro';
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../layouts/Navbar.astro';

const token = Astro.cookies.get("token");
let access = false;

export async function getParams({ params }){
    const idElement = params.id;
    return { idElement };
}

const verifyUser = async () => {
    if ((token) && (token.value)) {
        const user = await LoginController.getDataUser(token.value);
        if (user) {
            access = true;
            return user;
        }
    }
}

const {idElement} = await getParams(Astro);

const user = await verifyUser();
---
<Layout title='Detalles - ICM'>
    {access && user.type == userType.admin &&
        <main class="w-full flex flex-col justify-center p-2 gap-3">
            <Navbar loggedUser={userType.admin}></Navbar>
            <ContainerDetalle token={token.value} idElement={idElement} user={user} client:load></ContainerDetalle>
        </main>
    }
    {access && user.type == userType.user &&
        <main class="w-full flex flex-col justify-center p-2 gap-3">
            <Navbar loggedUser={userType.user}></Navbar>
            <ContainerDetalle token={token.value} idElement={idElement} user={user} client:load></ContainerDetalle>
        </main>
    }
    {!access && 
        <AccessExpired></AccessExpired>
    }
</Layout>
<style>
</style> 
